/* 
Palette hexcodes with # 
#f4f1de, #e07a5f, #3d405b, #81b29a, #f2cc8f

Object 
{"Eggshell":"f4f1de","Burnt sienna":"e07a5f","Delft Blue":"3d405b","Cambridge blue":"81b29a","Sunset":"f2cc8f"}
*/
:root {    
    --palette-egg: #f4f1de;
    --palette-orange: #e07a5f;
    --palette-midnight: #3d405b;
    --palette-mint:#81b29a;
    --palette-sand: #f2cc8f;
}

body {
    /* background-color: var(--palette-mint); */
    background: linear-gradient(45deg, var(--palette-sand) -20%, var(--palette-mint) 200%); 
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.top-bar {
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
    padding: 0; 
    display: flex;
    align-items: center;
}

.logo {
    padding:0;
    margin: 1rem;
    height: 3rem;
    width: auto;
    /* border: solid var(--palette-midnight); */
}
h1{
    font-size: 2em;
    padding: 0.2em;
    color: var(--palette-midnight);
    font-family: 'Geologica', sans-serif;
    margin: 1rem;
}

section {
    border-left: solid var(--palette-midnight) 0.55rem  ;
    border-radius: 0.3rem 0 0 0.3rem;   
    /* border-top: solid #3d405b  ; */
    padding: 1rem;
    margin: 0.75rem 0 0.75rem 0.15rem;
    background: linear-gradient(-225deg, var(--palette-orange) 0%, var(--palette-mint) 100%);
    /* background: linear-gradient(-225deg, var(--palette-orange) 0%, var(--palette-midnight) 165%); */
}

.details {
    border:none;
    padding: 0;
    margin-bottom: 0;
}

p, h2, h3 {
    color: var(--palette-midnight);
    /* margin-bottom: 0.75rem; */
    font-family: 'Geologica', sans-serif;
}

/* h2 */
h3,h2 {
    margin: 0.5rem;
}

li {
    font-family: 'Geologica', sans-serif;
    font-weight: 600;
    color: var(--palette-midnight);
    list-style-type: none;
    margin: 0.3em;
    /* display: none; */
    border-left: solid var(--palette-midnight) 0.2rem;
    padding-left: 1rem;
}


a {
    text-decoration: none;
}

.icon {
    height: 2em;
    width: auto;
    margin: auto 0.3em;
}

.li-icon > a {
    display:flex;
    align-items: center;
    text-decoration: none;
}

.li-icon > a > span {
    padding-left: 0.2rem;
    text-decoration: none;
}